.App {
  text-align: center;
  color: black;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
}
.desc {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
}
.nav-links {
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}
a {
  color: coral;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-decoration: none; 
}
a:hover {
  background-color: black;
}
input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: lightblue;
  background-color: lightgray;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
}
li {
  list-style: none;
}
img {
  border-style: inset;
  border-width: 7px;
  border-color: coral;  
}
.result-cont {
  padding: 5px 10px;
  align-items: center;
}
.movies_watchlist_cont {
  display: grid;
  grid-template-columns:33% 33% 33%;
}
.overlay {
  padding: 5px;
}
.overview {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
.rating, .release { 
  color: orangered; 
  text-shadow: #000 1px 0px 1px;
}
.ctrl-btn, .ctrl2-btn {
  font-size: 15px;
  border: 2px solid black;
  background-color: coral;
}
.ctrl-btn:disabled {
  background-color: white;
  color: black;
}
.ctrl2-btn:disabled {
  background-color: green;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.ctrl-btn:hover:enabled { background-color: lightgreen; }
.ctrl2-btn:hover:enabled { background-color: lightgreen; }